
{% extends 'base.html' %}
{% block content %}
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{Task.name}}</h5>
                    <p><b>{{Task.priority}}</b></p>
                    <p>{{Task.date}}</p>
                    <a class="btn btn-danger" href="{% url 'delete' Task.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'update' Task.id %}">Update</a>
                </div>
            </div>
{% endblock %}